<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="/static/css/forgotPass.css">
</head>
<body>
    <h2>Olvido su contraseña</h2>
    <form id="forgotPasswordForm" action="/user/ForgotPass" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <button type="submit">Enviar Token</button>
        </div>
        <a id="successLink" href="/templates/user/resetPassword.html" style="display: none;"></a>
    </form>
    <script src="/static/js/forgotPass.js"></script>
</body>
</html>